/* ********************************************** */
/* *************** Common Section *************** */
/* ********************************************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  max-width: 100%;
}

body {
  height: 100vh;
  position: relative;
  background-image: url("/assets/image/mainpage-background.jpg");
  background-size: cover;
  background-position: center;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  filter: blur(10px);
  z-index: -1;
}

.btn-xs {
  padding: 2px 6px;
  font-size: 0.8rem;
  margin-top: 7px;
}

/* ********************************************** */
/* ************ Navbar Section ************* */
/* ********************************************** */

.icons {
  margin-left: 100px;
  padding-right: 0px;
}
.home-icon {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(40, 167, 69, 1);
  font-size: 24px;
  margin: 22px 0px 10px 0px;
  padding: 10px;
  border: 3px solid rgba(40, 167, 69, 1);
  border-radius: 10px;
}

.home-icon:hover {
  color: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.7);
}

.time-box {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(40, 167, 69, 1);
  padding: 10px;
  margin: 22px 105px 0px 0px;
  border: 3px solid rgba(40, 167, 69, 1);
  border-radius: 10px;
}

#location-time {
  margin-bottom: 0px;
  font-size: 16px;
  color: black;
}

.time-box:hover {
  color: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.7);
}

.form-box {
  height: 47px;
  width: 480px !important;
  border: 2px solid rgba(40, 167, 69, 1) !important;
  margin-top: 22px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.form-box:hover {
  border: 2px solid rgba(0, 0, 0, 0.7) !important;
}

.form-box-btn {
  height: 47px;
  width: 160px;
  margin-top: 22px;
  margin-left: 5px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(40, 167, 69, 1);
  border: 0px;
  margin-bottom: 15px;
}

.form-box-btn:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.7);
}

/* ********************************************** */
/* ************ left side first box ************* */
/* ********************************************** */

.temperature-box {
  background-color: rgba(255, 255, 255, 0.8);
  height: 175px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 20px;
  padding-left: 5px;
}

#location-box {
  margin-bottom: 0px;
}

.location-icon {
  font-size: 14px;
  color: rgba(40, 167, 69, 1);
  padding-top: 15px;
}

.location-time {
  font-size: 14px;
  color: rgba(40, 167, 69, 1);
  padding: 15px 0px 0px 35px;
}

#city-name {
  font-size: 14px;
  padding-right: 10px;
}

.time-icon {
  font-size: 14px;
  color: rgba(40, 167, 69, 1);
  padding-top: 15px;
  padding-left: 60px;
}

#search-location-time {
  font-size: 14px;
}

.temperature-box-emoji {
  height: 100px;
}

.temperature {
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 0px;
}

.temperature-amount {
  font-size: 42px;
  margin: 0px 0px 0px 60px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.temperature-standart {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}

.weather-name {
  font-size: 16px;
  font-weight: 400;
  margin-left: 60px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.celsius-btn {
  margin: 5px 20px 3px 50px;
  padding: 9px 29px;
}

.fahrenheit-btn {
  margin: 3px 20px 10px 50px;
  padding: 9px 30px;
}

/* ********************************************** */
/* ********** Temperature detailed box ********** */
/* ********************************************** */

#weather-details-boxes {
  height: 203px;
  border-radius: 10px;
  margin-left: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.weather-details-box {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 15px;
}

.weather-data-name {
  font-size: 18px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.weather-data-amount {
  font-size: 13px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.weather-data-icon {
  margin: 5px 0px 5px 0px;
  height: 46px;
}

/* ********************************************** */
/* ********** More specific weather box ********** */
/* ********************************************** */

.more-specific-weather-boxes {
  height: 125px;
  background-color: rgba(255, 255, 255, 1);
  margin-left: 100px;
  border-radius: 10px;
}

.more-specific-weather-box {
  height: 100px;
}

.more-specific-weather-box-icon {
  margin: 20px 0px 10px 0px;
  height: 60px;
}

/* ********************************************** */
/* **************** Forecast-box **************** */
/* ********************************************** */

.forecast-boxes {
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 100px;
}

#forecast-title {
  background-color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  padding-bottom: 12px;
  border-radius: 10px;
}

.forecast-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin: 0px 10px 0px 10px;
}

.forecast-weather-date {
  font-size: 16px;
  margin-left: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 0px;
}

.forecast-weather-feels-like {
  font-size: 12px;
  margin: 2px 0px 0px 38px;
  font-weight: 400px;
}

.forecast-weather-icon {
  font-size: 16px;
  color: rgba(40, 167, 69, 1);
}

.forecast-weather-element-amount {
  font-size: 11px;
}

/* ********************************************** */
/* ******************* footer ******************* */
/* ********************************************** */

footer {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px 100px 0px 100px;
  border-radius: 10px;
  color: #333;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
}

.developer-details {
  font-size: 14px;
  margin-bottom: 0px;
}

#developer {
  font-weight: 600;
  color: rgba(40, 167, 69, 1);
}

.data-credit {
  font-size: 0.8em;
}

.data-credit a {
  color: rgba(40, 167, 69, 1);
}
