/* ********************************************** */
/* *************** Common Section *************** */
/* ********************************************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

body {
  height: 100vh;
  position: relative;
  background-image: url("https://tanvir-ahmmad-33.github.io/Climora/assets/image/mainpage-background.jpg");
  background-size: cover;
  background-position: center;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  filter: blur(10px);
  z-index: -1;
}

/* ********************************************** */
/* *************** Navbar Section *************** */
/* ********************************************** */

.icons {
  margin-left: 100px;
  padding-right: 0px;
}

#home-icon {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(40, 167, 69, 1);
  font-size: 24px;
  margin: 22px 0px 10px 0px;
  padding: 10px;
  border: 3px solid rgba(40, 167, 69, 1);
  border-radius: 10px;
}

#home-icon:hover {
  color: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.7);
}

#weather-icon {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(40, 167, 69, 1);
  font-size: 24px;
  margin: 22px 0px 10px 0px;
  padding: 10px;
  border: 3px solid rgba(40, 167, 69, 1);
  border-radius: 10px;
}

#weather-icon:hover {
  color: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.7);
}

#forecast-weather-icon {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(40, 167, 69, 1);
  font-size: 24px;
  margin: 22px 0px 10px 0px;
  padding: 10px;
  border: 3px solid rgba(40, 167, 69, 1);
  border-radius: 10px;
}

#forecast-weather-icon:hover {
  color: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.7);
}

.time-box {
  width: 180px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(40, 167, 69, 1);
  padding: 10px;
  margin: 22px 105px 0px 0px;
  border: 3px solid rgba(40, 167, 69, 1);
  border-radius: 10px;
}

.time-box:hover {
  color: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.7);
}

#location-time {
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: 16px;
  color: black;
}

@media (max-width: 768px) {
  .icons {
    margin-left: 0px;
    padding-right: 0px;
  }

  #home-icon {
    font-size: 20px;
    margin: 20px 0px 10px 0px;
    padding: 10px;
    border-radius: 10px;
  }

  #forecast-weather-icon {
    font-size: 20px;
    margin: 20px 0px 10px 0px;
    padding: 10px;
    border-radius: 10px;
  }

  #weather-icon {
    font-size: 20px;
    margin: 20px 0px 10px 0px;
    padding: 10px;
    border-radius: 10px;
  }

  .time-box {
    margin: 20px 0px 0px 0px;
    width: 100px;
    height: 44px;
  }

  #location-time {
    font-size: 14px;
  }
}

/* ********************************************** */
/* **************** news Section **************** */
/* ********************************************** */
#news-boxes {
  height: 75vh;
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 15px;
}

#news-box-title {
  margin: 4px 0px 5px 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  transition: text-shadow 0.3s ease;
  font-size: 42px;
}

#news-box-title:hover {
  text-shadow: 2px 2px 6px rgba(40, 167, 69, 0.6);
}

.news-2-box {
  height: 446px;
  width: 100%;
}

.news-box-right {
  margin-right: 40px;
}

.news-box-left {
  margin-left: 40px;
}

.news-author {
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  font-size: 20px;
}

.news-date {
  color: rgba(40, 167, 69, 0.8);
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.news-image {
  width: 100%;
  height: 190px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

.news-image:hover {
  box-shadow: 0px 4px 6px rgba(40, 167, 69, 0.8);
}

.news-title {
  font-size: 16px;
  background-color: rgba(40, 167, 69, 1);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.news-content {
  padding: 0px 20px 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  color: black;
}

.news-link {
  padding: 15px;
  margin: 0px 140px 0px 140px;
  background-color: white;
  padding: 7px;
  border-radius: 5px;
  border: 3px solid rgba(40, 167, 69, 1);
}

.news-link-address {
  font-size: 14px;
  color: rgba(40, 167, 69, 1);
  text-shadow: 2px 2px 4px rgba(40, 167, 69, 0.3);
}

.news-link-address:hover {
  color: rgba(40, 167, 69, 1);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

@media (max-width: 768px) {
  #news-boxes {
    height: 100vh;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 15px;
  }

  .news-box-right {
    margin-left: 10px;
    margin-right: 10px;
  }

  .news-box-left {
    margin-left: 10px;
    margin-right: 10px;
  }

  .news-image {
    height: 120px;
    width: 100%;
    margin-bottom: 12px;
  }

  .news-content {
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: black;
  }

  .news-link {
    padding: 5px;
    margin: 0px 80px 0px 80px;
  }

  .news-2-box {
    height: 765px;
    width: 100%;
  }
}

/* ********************************************** */
/* ******************* pagination ******************* */
/* ********************************************** */
.pagination {
  margin-right: 40px;
  /* background-color: rgba(40, 167, 69, 1); */
}

.forecast-news-page {
  background-color: rgba(40, 167, 69, 1);
  font-size: 12px;
  /* border: 3px solid black; */
  /* border-radius: 10px; */
  margin: 1px;
}

.forecast-news-page:hover {
  border: 2px solid black;
  background-color: white;
  color: #333;
}

@media (max-width: 768px) {
  .pagination {
    margin-top: 0px;
    margin-right: 0px;
  }
}
/* ********************************************** */
/* ******************* footer ******************* */
/* ********************************************** */

footer {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px 100px 0px 100px;
  border-radius: 10px;
  color: #333;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.developer-details {
  font-size: 14px;
  margin-bottom: 0px;
}

#developer {
  font-weight: 600;
  color: rgba(40, 167, 69, 1);
}

.data-credit {
  font-size: 0.8em;
}

.data-credit a {
  color: rgba(40, 167, 69, 1);
}

@media (max-width: 768px) {
  footer {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 15px 0px 15px 0px;
    border-radius: 10px;
    color: #333;
    padding: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
}
