/* ******************************************** */
/* ************** Common Section ************** */
/* ******************************************** */
* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
}

/* ******************************************** */
/* *************** Home Section *************** */
/* ******************************************** */
.home-left {
  height: 100vh;
}

.umbrella-image {
  height: 75vh;
  border-radius: 10%;
  border: 0.4vw solid rgba(40, 167, 69, 1);
}

.home-right {
  margin-top: 33vh;
}

.home-right-logo {
  color: transparent;
  font-size: 64px;
  margin-left: 5%;
  background: linear-gradient(to right, rgba(40, 167, 69, 1), #95ffac);
  -webkit-background-clip: text;
  background-clip: text;
}

.home-right-title {
  font-size: 52px;
  margin: 0% 0% 0% 5%;
}

.home-right-second-title {
  margin: 0% 0% 20% 5% !important;
}

.started-btn {
  margin-left: 5%;
}

@media (max-width: 768px) {
  .home-left {
    height: 45vh;
  }

  .umbrella-image {
    height: 25vh;
    border-radius: 10%;
    border: 0.6vw solid rgba(40, 167, 69, 1);
  }

  .home-right {
    margin-top: 0%;
    height: 55vh;
  }

  .home-right-logo {
    color: transparent;
    font-size: 64px;
    margin-left: 0%;
    background: linear-gradient(to right, rgba(40, 167, 69, 1), #95ffac);
    -webkit-background-clip: text;
    background-clip: text;
  }

  .rotate-icon {
    display: inline-block;
    transform: rotate(270deg);
    transform-origin: center;
  }

  .home-right-title {
    font-size: 52px;
    margin: 0%;
  }

  .home-right-second-title {
    margin: 0% 0% 30% 0% !important;
  }

  .started-btn {
    margin-left: 0%;
    width: 40vh;
  }
}
